<section class="profile">
    <div class="profile__content">

        <div class="profile__row">
            <div class="profile__left-col">
                <div class="profile__heading only-mobile">
                    Здравствуйте,<br>
                    <em>EMEX</em>
                </div>
                <div class="profile__status-row only-mobile">
                    <div class="profile__id">
                        id 0000001
                    </div>
                    <div class="profile__status">
                        На согласовании
                    </div>
                </div>
                <div class="profile__certificates">
                    <h1 class="profile__certificates-heading">
                        Свидетельство
                    </h1>
                    <div class="profile__certificates-text">
                        <p>
                            Вы можете в любой момент сформировать «Свидетельство Субдилера (авторизованного пункта
                            реализации)».
                        </p>
                        <p>
                            «Свидетельство Субдилера» формируется отдельно по каждому бренду Luzar, Trialli, Startvolt,
                            Airline и CarvilleRacing.
                        </p>
                    </div>
                    <form action="/" method="GET" class="profile__certificates-form">
                        <div class="select js-select">
                            <button class="select__btn" type="button">
                                <span class="select__btn-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                                <span class="select__placeholder">
                                    Адрес
                                </span>
                            </button>
                            <div class="select__dropdown">
                                <div class="select__dropdown-inner">
                                    <ul class="select__list">

                                        <li class="select__list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="address" class="select__choice-input"
                                                    value="Все" checked="">
                                                <span class="select__choice-mark">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#checkmark"></use>
                                                    </svg>
                                                </span>
                                                <span class="select__choice-text">
                                                    Адрес 1
                                                </span>
                                            </label>
                                        </li>
                                        <li class="select__list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="address" class="select__choice-input"
                                                    value="Адрес 2">
                                                <span class="select__choice-mark">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#checkmark"></use>
                                                    </svg>
                                                </span>
                                                <span class="select__choice-text">
                                                    Адрес 2
                                                </span>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="profile__certificates-remark">
                        Если у Вас несколько адресов, Вы можете сформировать «Свидетельство Субдилера» отдельно для
                        каждого адреса либо сразу по всем адресам.
                    </div>
                    <div class="profile__certificates-results">
                        <ul class="profile__certificates-results-list">
                            <li class="profile__certificates-results-list-item">
                                <a href="#" class="profile__certificates-results-card">
                                    <div class="profile__certificates-results-card-image-container">
                                        <img src="/images/certificates/1.webp" alt=""
                                            class="profile__certificates-results-card-image">
                                    </div>
                                    <div class="profile__certificates-results-card-content">
                                        <h3 class="profile__certificates-results-card-title">
                                            Luzar
                                        </h3>
                                        <div class="profile__certificates-results-card-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                            Скачать сертификат
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="profile__certificates-results-list-item">
                                <a href="#" class="profile__certificates-results-card">
                                    <div class="profile__certificates-results-card-image-container">
                                        <img src="/images/certificates/2.webp" alt=""
                                            class="profile__certificates-results-card-image">
                                    </div>
                                    <div class="profile__certificates-results-card-content">
                                        <h3 class="profile__certificates-results-card-title">
                                            Trialli
                                        </h3>
                                        <div class="profile__certificates-results-card-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                            Скачать сертификат
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="profile__certificates-results-list-item">
                                <a href="#" class="profile__certificates-results-card">
                                    <div class="profile__certificates-results-card-image-container">
                                        <img src="/images/certificates/3.webp" alt=""
                                            class="profile__certificates-results-card-image">
                                    </div>
                                    <div class="profile__certificates-results-card-content">
                                        <h3 class="profile__certificates-results-card-title">
                                            Startvolt
                                        </h3>
                                        <div class="profile__certificates-results-card-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                            Скачать сертификат
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="profile__certificates-results-list-item">
                                <a href="#" class="profile__certificates-results-card">
                                    <div class="profile__certificates-results-card-image-container">
                                        <img src="/images/certificates/4.webp" alt=""
                                            class="profile__certificates-results-card-image">
                                    </div>
                                    <div class="profile__certificates-results-card-content">
                                        <h3 class="profile__certificates-results-card-title">
                                            Airline
                                        </h3>
                                        <div class="profile__certificates-results-card-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                            Скачать сертификат
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="profile__certificates-results-list-item">
                                <a href="#" class="profile__certificates-results-card">
                                    <div class="profile__certificates-results-card-image-container">
                                        <img src="/images/certificates/5.webp" alt=""
                                            class="profile__certificates-results-card-image">
                                    </div>
                                    <div class="profile__certificates-results-card-content">
                                        <h3 class="profile__certificates-results-card-title">
                                            Carville racing
                                        </h3>
                                        <div class="profile__certificates-results-card-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                            Скачать сертификат
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="profile__right-col">
                <div class="profile__bonuses">
                    <img src="/images/profile-coins.webp" alt="" class="profile__bonuses-coins">
                    <div class="profile__bonuses-card">
                        <h3 class="profile__bonuses-card-title">
                            Накопленные бонусы
                        </h3>
                        <div class="profile__bonuses-card-amount">
                            12 134.43₽
                        </div>
                    </div>
                    <div class="profile__bonuses-remark">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#question"></use>
                        </svg>
                        Обналичить можно сумму от 20&nbsp;000 ₽
                    </div>
                    <div class="profile__bonuses-btns">
                        <a href="#" class="profile__bonuses-withdraw-link profile__bonuses-withdraw-link--disabled">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#withdraw-checkmark"></use>
                            </svg>
                            Обналичить баллы
                        </a>
                        <a href="#" class="profile__bonuses-history-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#calendar"></use>
                            </svg>
                            История <span class="only-desktop">списания</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>