<footer class="page-footer {{#if mobileNoFooter }} page-footer--only-desktop {{/if}}">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <ul class="page-footer__list">
                <li class="page-footer__list-item">
                    <a href="#" class="page-footer__link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Пользовательское соглашение
                    </a>
                </li>
                <li class="page-footer__list-item">
                    <a href="#" class="page-footer__link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Политика конфиденциальности
                    </a>
                </li>
                <li class="page-footer__list-item">
                    <a href="#" class="page-footer__link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Техподдержка
                    </a>
                </li>
            </ul>
            <a href="#" class="page-footer__logo">


                <picture>
                    <source srcset="/images/logo-grey-mobile.svg" media="(max-width: 640px)" />
                    <img src="/images/logo-grey.svg" alt="" class="page-footer__logo-image" />
                </picture>
            </a>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__bottom-decor-wrapper">


                <picture>
                    <source srcset="/images/footer-decor-mobile.svg" media="(max-width: 640px)" />
                    <img src="/images/footer-decor.svg" alt="" class="page-footer__bottom-decor-image" />
                </picture>
            </div>
            <div class="page-footer__copyright">
                ©2011 - 2023 ООО «ЭРЛАЙН»
            </div>
        </div>
    </div>
</footer>