<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Правила
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Новости
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Свидетельство
                        </a>
                    </li>



                </ul>
            </nav>
            <div class="page-header__profile-btns">
                <a href="#" class="page-header__login-link">
                    <span class="page-header__login-link-icon">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#profile"></use>
                        </svg>
                    </span>
                    EMEX
                </a>
                <a href="#" class="page-header__logout-link">
                    Выйти
                </a>
            </div>
        </div>
        <button class="page-header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>