<div class="modal js-modal" id="bonus-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-cross"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            Обналичить бонусы
        </h3>
        <div class="modal__bonuses">
            <div class="modal__bonuses-amount">
                <h4 class="modal__bonuses-amount-title">
                    На сумму
                </h4>
                <div class="modal__bonuses-amount-total">
                    100 000.00₽
                </div>
            </div>
            <div class="modal__bonuses-btns">
                <a href="#" class="modal__bonuses-btn">
                    Скидка или бонус от
                    Дистрибьютора
                </a>
                <a href="#" class="modal__bonuses-btn">
                    Подарки от
                    КАРВИЛЬШОП
                </a>
                <button class="modal__bonuses-cancel-btn js-close-modal" type="button">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>