<section class="news">
    <div class="news__content">
        <div class="news__left-col">
            <h1 class="news__heading">
                Новости
            </h1>
            <ul class="news__list">
                <li class="news__list-item">
                    <div class="news__card">
                        <div class="news__card-image-container">
                            <img src="/images/news/1.webp" alt="" class="news__card-image">
                        </div>
                        <div class="news__card-content">
                            <div class="news__card-date">
                                03 мая 2023
                            </div>
                            <h3 class="news__card-text">
                                «Свидетельство Субдилера» формируется отдельно по каждому бренду Luzar, Trialli,
                                Startvolt, Airline и CarvilleRacing.
                            </h3>
                            <div class="news__card-link">
                                Читать новость полностью
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="news__list-item">
                    <div class="news__card">
                        <div class="news__card-image-container">
                            <img src="/images/news/2.webp" alt="" class="news__card-image">
                        </div>
                        <div class="news__card-content">
                            <div class="news__card-date">
                                01 мая 2023
                            </div>
                            <h3 class="news__card-text">
                                Бонусные условия этого месяца:
                                - базовые баллы за любые закупки 0,5%
                                - увеличенные баллы при достижении 300.000р. 3%
                                - дополнительные баллы:
                                Водяные насосы Luzar 8%
                                Колодки Trialli 10%
                                Катушки Startvolt 10%
                            </h3>
                            <div class="news__card-link">
                                Читать новость полностью
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="news__list-item">
                    <div class="news__card">
                        <div class="news__card-image-container">
                            <img src="/images/news/3.webp" alt="" class="news__card-image">
                        </div>
                        <div class="news__card-content">
                            <div class="news__card-date">
                                01 мая 2023
                            </div>
                            <h3 class="news__card-text">
                                Старт программы лояльности «Карвиль-Бонус»
                            </h3>
                            <div class="news__card-link">
                                Читать новость полностью
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="news__right-col">
            <form action="/" method="POST" class="news__subscribe js-form">
                <img src="/images/news-illustration.webp" alt="" class="news__subscribe-image">
                <div class="news__subscribe-card">
                    <h3 class="news__subscribe-card-title">
                        Ваш Email
                    </h3>
                    <div class="news__subscribe-card-input-wrapper">
                        <input type="email" name="email" class="news__subscribe-card-input" required=""
                            value="example@gmail.com">
                    </div>
                </div>
                <button class="news__subscribe-submit" type="submit">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#withdraw-checkmark"></use>
                    </svg>
                    Подписаться на новости
                </button>
            </form>
        </div>
    </div>
</section>