<section class="partners">
    <div class="partners__bg">
        <img src="/images/home-bg-illustration.svg" alt="" class="partners__bg-illustration">
    </div>

    <div class="partners__content">
        <h2 class="partners__heading">
            «Субдилерская программа Карвиль-Бонус»
        </h2>
        <div class="partners__text-content">
            <div class="partners__text">
                направлена на стимулирование закупки продукции Luzar, Trialli, Startvolt, Airline и CarvilleRacing.
            </div>
            <ul class="partners__list">
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <img src="/images/partners/luzar.svg" alt="" class="partners__link-image">
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <img src="/images/partners/trialli.svg" alt="" class="partners__link-image">
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <img src="/images/partners/startvolt.svg" alt="" class="partners__link-image">
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <img src="/images/partners/airline.svg" alt="" class="partners__link-image">
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <img src="/images/partners/cr.svg" alt="" class="partners__link-image">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>