<header class="page-header">
    <div class="promo-home-page__header-decor" aria-hidden="true">
        <img src="/images/promo-home/header-decor-left.png" alt="" class="promo-home-page__header-decor-left">
        <img src="/images/promo-home/header-decor-right.png" alt="" class="promo-home-page__header-decor-right">
    </div>
    <div class="page-header__content">
        <a href="/index.html" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="/index.html" class="page-header__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/rules.html" class="page-header__nav-link">
                            Правила
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/news.html" class="page-header__nav-link">
                            Новости
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Партнеры
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Академия Carville
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__buttons">
                <a href="/login.html" class="page-header__login-btn">
                    Войти в систему
                </a>
                <a href="/registration.html" class="page-header__register-btn">
                    Зарегистрироваться
                </a>
            </div>
        </div>
        <button class="page-header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
