<section class="rules">
    <div class="rules__content">
        <h2 class="rules__heading">
            Правила программы
        </h2>
        <ol class="rules__list">
            <li class="rules__list-item">
                <a href="#" class="rules__card">
                    <div class="rules__card-image-container">
                        <img src="/images/rules/1.webp" alt="" class="rules__card-image">
                    </div>
                    <div class="rules__card-step-number"></div>
                    <h3 class="rules__card-title">
                        Регистрируйтесь
                        в&nbsp;программе
                    </h3>
                    <div class="rules__card-text">
                        Получите 500 баллов
                        и размещение на сайтах брендов
                        в разделе "Где купить"
                    </div>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#" class="rules__card">
                    <div class="rules__card-image-container">
                        <img src="/images/rules/2.webp" alt="" class="rules__card-image">
                    </div>

                    <div class="rules__card-step-number"></div>
                    <h3 class="rules__card-title">
                        Копите баллы
                        за&nbsp;закупки
                    </h3>
                    <div class="rules__card-text">
                        За покупки товаров
                        наших брендов у любого
                        дистрибьютора
                    </div>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#" class="rules__card">
                    <div class="rules__card-image-container">
                        <img src="/images/rules/3.webp" alt="" class="rules__card-image">
                    </div>
                    <div class="rules__card-step-number"></div>
                    <h3 class="rules__card-title">
                        Получайте скидки,
                        бонусы, подарки
                    </h3>
                    <div class="rules__card-text">
                        На скидки и бонусы
                        от дистрибьютора или подарки
                        от Карвильшоп
                    </div>
                </a>
            </li>
        </ol>
    </div>
</section>