<section class="rules-page">
    <div class="rules-page__content">
        <div class="rules-page__text-content">
            <h1 class="rules-page__heading">
                Правила участия в бонусной программе
            </h1>
            <ol class="rules-page__list">
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Программа лояльности «Субдилерская программа Карвиль-Бонус»
                            направлена на стимулирование закупки продукции
                        </p>
                        <ul>
                            <li>
                                Luzar,
                            </li>
                            <li>
                                Trialli,
                            </li>
                            <li>
                                Startvolt,
                            </li>
                            <li>
                                Airline,
                            </li>
                            <li>
                                CarvilleRacing.
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Для участия в программе «Карвиль-Бонус»
                            необходимо пройти регистрацию.
                        </p>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            К регистрации допускаются только
                        </p>
                        <ul>
                            <li>
                                СТО,
                            </li>
                            <li>
                                магазины и оптовики;
                            </li>
                        </ul>
                    </div>
                    <div class="rules-page__remark">
                        <img src="/images/danger.svg" alt="" class="rules-page__remark-image">
                        Интернет-магазины и Маркетплейсы не могут принимать участие в Программе.
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Участники, зарегистрировавшиеся в программе, получают статус «Субдилера»
                            и начинают копить баллы за закупки продукции
                        </p>
                        <ul>
                            <li>
                                Luzar,
                            </li>
                            <li>
                                Trialli,
                            </li>
                            <li>
                                Startvolt,
                            </li>
                            <li>
                                Airline,
                            </li>
                            <li>
                                CarvilleRacing.
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Информация об адресах (с телефонами и фотографиями) Субдилеров
                            публикуется на страницах «Где купить» официальных сайтов
                        </p>
                        <ul>
                            <li>
                                Luzar,
                            </li>
                            <li>
                                Trialli,
                            </li>
                            <li>
                                Startvolt,
                            </li>
                            <li>
                                Airline,
                            </li>
                            <li>
                                CarvilleRacing.
                            </li>
                        </ul>
                    </div>
                    <div class="rules-page__remark">
                        <img src="/images/danger.svg" alt="" class="rules-page__remark-image">
                        Количество адресов не ограничено.
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            В программе учитываются только закупки через Дистрибьюторов,
                            являющихся партнерами программы.
                        </p>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Информация о закупках Субдилеров поступает от Дистрибьюторов
                            в автоматическом режиме.
                        </p>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Информация о накопленных баллах, а также подробная статистика о закупке доступна Субдилеру
                            в «Личном кабинете».
                        </p>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Субдилер, накопивший достаточное количество баллов, может обменять их на скидку, бонус или
                            подарки.
                            Для использования накопленных баллов Субдилер должен отправить «заявку на выдачу баллов».
                        </p>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Выплату баллов осуществляет Дистрибьютор-Партнер
                            после согласования с организатором программы.
                        </p>
                    </div>
                </li>
                <li class="rules-page__list-item">
                    <div class="rules-page__text">
                        <p>
                            Период проведения Программы: с 01 мая 2023 года и до полной ее отмены Организатором.
                            Организатор обязан уведомить Субдилеров о завершении или приостановке Программы
                            посредством размещения информации на сайте Программы bonus.carville.ru
                        </p>
                    </div>
                </li>
            </ol>
            <a href="#" class="rules-page__download">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                </svg>
                ПОЛНЫЕ ПРАВИЛА "КАРВИЛЬ-БОНУС"
            </a>
        </div>

    </div>
</section>