<section class="profile">
    <div class="profile__content">
        <div class="profile__bg">
            <img src="/images/profile-short-illustration.svg" alt="" class="profile__illustration">
        </div>
        <div class="profile__stats">
            <h1 class="profile__heading">
                Здравствуйте,<br>
                <em>EMEX</em>
            </h1>
            <div class="profile__status-row">
                <div class="profile__id">
                    id 0000001
                </div>

            </div>
            <div class="profile__stats-row">
                <div class="profile__stats-col">
                    <div class="profile__stats-bonuses">
                        <h3 class="profile__stats-bonuses-title">
                            Бонусные условия в этом месяце
                        </h3>
                        <div class="profile__stats-bonuses-rate">
                            Базовый: 0,2%
                        </div>
                        <ul class="profile__stats-bonuses-list">
                            <li class="profile__stats-bonuses-list-item">
                                <div class="profile__stats-bonuses-card">
                                    <div class="profile__stats-bonuses-card-image-container">
                                        <img src="/images/certificates/1.webp" alt=""
                                            class="profile__stats-bonuses-card-image">
                                    </div>
                                    <div class="profile__stats-bonuses-card-title">
                                        Компрессор автомобильный
                                    </div>
                                    <div class="profile__stats-bonuses-card-amount">
                                        +8%
                                    </div>
                                </div>
                            </li>
                            <li class="profile__stats-bonuses-list-item">
                                <div class="profile__stats-bonuses-card">
                                    <div class="profile__stats-bonuses-card-image-container">
                                        <img src="/images/certificates/2.webp" alt=""
                                            class="profile__stats-bonuses-card-image">
                                    </div>
                                    <div class="profile__stats-bonuses-card-title">
                                        Тормозные колодки
                                    </div>
                                    <div class="profile__stats-bonuses-card-amount">
                                        +8%
                                    </div>
                                </div>
                            </li>
                            <li class="profile__stats-bonuses-list-item">
                                <div class="profile__stats-bonuses-card">
                                    <div class="profile__stats-bonuses-card-image-container">
                                        <img src="/images/certificates/3.webp" alt=""
                                            class="profile__stats-bonuses-card-image">
                                    </div>
                                    <div class="profile__stats-bonuses-card-title">
                                        Катушки зажигания
                                    </div>
                                    <div class="profile__stats-bonuses-card-amount">
                                        +5%
                                    </div>
                                </div>
                            </li>
                            <li class="profile__stats-bonuses-list-item">
                                <div class="profile__stats-bonuses-card">
                                    <div class="profile__stats-bonuses-card-image-container">
                                        <img src="/images/certificates/4.webp" alt=""
                                            class="profile__stats-bonuses-card-image">
                                    </div>
                                    <div class="profile__stats-bonuses-card-title">
                                        Вся продукция марки
                                    </div>
                                    <div class="profile__stats-bonuses-card-amount">
                                        +2%
                                    </div>
                                </div>
                            </li>
                            <li class="profile__stats-bonuses-list-item">
                                <div class="profile__stats-bonuses-card">
                                    <div class="profile__stats-bonuses-card-image-container">
                                        <img src="/images/certificates/5.webp" alt=""
                                            class="profile__stats-bonuses-card-image">
                                    </div>
                                    <div class="profile__stats-bonuses-card-title">
                                        Вся продукция марки
                                    </div>
                                    <div class="profile__stats-bonuses-card-amount">
                                        +1%
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="profile__stats-bonuses-increase">
                            <div class="profile__stats-bonuses-increase-text">
                                Увеличенный: 10% при достижении цели
                            </div>
                            <div class="profile__stats-bonuses-increase-bottom-row">
                                <div class="profile__stats-bonuses-increase-rate">
                                    10%
                                </div>
                                <div class="profile__stats-bonuses-increase-required">
                                    300 000₽
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__stats-col">
                    <div class="profile__stats-buy">
                        <div class="profile__stats-buy-top">
                            <div class="profile__stats-buy-top-row">
                                <h3 class="profile__stats-buy-title">
                                    Закупка
                                </h3>
                                <div class="profile__stats-buy-picker js-buy-picker">
                                    <input type="text" class="profile__stats-buy-input" readonly="">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow-down"></use>
                                    </svg>
                                </div>

                            </div>
                            <div class="profile__stats-buy-bottom-row">
                                <div class="profile__stats-buy-goal">
                                    <h4 class="profile__stats-buy-goal-title">Цель</h4>
                                    <div class="profile__stats-buy-goal-progress" style="--progress: 0.75;">
                                        <div class="profile__stats-buy-goal-progress-bar">
                                            <div class="profile__stats-buy-goal-progress-bar-percentage">
                                                75%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile__stats-buy-total">
                                    <h4 class="profile__stats-buy-total-title">
                                        Всего
                                    </h4>
                                    <div class="profile__stats-buy-total-amount">
                                        223 000₽
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile__stats-buy-bottom">
                            <ul class="profile__stats-buy-list">
                                <li class="profile__stats-buy-list-item">
                                    <div class="profile__stats-buy-card">
                                        <div class="profile__stats-buy-card-image-container">
                                            <img src="/images/certificates/1.webp" alt=""
                                                class="profile__stats-buy-card-image">
                                        </div>
                                        <div class="profile__stats-buy-card-content">
                                            Luzar
                                        </div>
                                        <div class="profile__stats-buy-card-price">
                                            56 066.07₽
                                        </div>
                                    </div>
                                </li>
                                <li class="profile__stats-buy-list-item">
                                    <div class="profile__stats-buy-card">
                                        <div class="profile__stats-buy-card-image-container">
                                            <img src="/images/certificates/2.webp" alt=""
                                                class="profile__stats-buy-card-image">
                                        </div>
                                        <div class="profile__stats-buy-card-content">
                                            Trialli
                                        </div>
                                        <div class="profile__stats-buy-card-price">
                                            43 554.51₽
                                        </div>
                                    </div>
                                </li>
                                <li class="profile__stats-buy-list-item">
                                    <div class="profile__stats-buy-card">
                                        <div class="profile__stats-buy-card-image-container">
                                            <img src="/images/certificates/3.webp" alt=""
                                                class="profile__stats-buy-card-image">
                                        </div>
                                        <div class="profile__stats-buy-card-content">
                                            Startvolt
                                        </div>
                                        <div class="profile__stats-buy-card-price">
                                            39 056.11₽
                                        </div>
                                    </div>
                                </li>
                                <li class="profile__stats-buy-list-item">
                                    <div class="profile__stats-buy-card">
                                        <div class="profile__stats-buy-card-image-container">
                                            <img src="/images/certificates/4.webp" alt=""
                                                class="profile__stats-buy-card-image">
                                        </div>
                                        <div class="profile__stats-buy-card-content">
                                            Airline
                                        </div>
                                        <div class="profile__stats-buy-card-price">
                                            27 055.56₽
                                        </div>
                                    </div>
                                </li>
                                <li class="profile__stats-buy-list-item">
                                    <div class="profile__stats-buy-card">
                                        <div class="profile__stats-buy-card-image-container">
                                            <img src="/images/certificates/5.webp" alt=""
                                                class="profile__stats-buy-card-image">
                                        </div>
                                        <div class="profile__stats-buy-card-content">
                                            Carville racing
                                        </div>
                                        <div class="profile__stats-buy-card-price">
                                            24 059.51₽
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile__stats-col">
                    <div class="profile__bonuses profile__bonuses--no-margin">
                        <img src="/images/profile-coins.webp" alt="" class="profile__bonuses-coins">
                        <div class="profile__bonuses-card">
                            <h3 class="profile__bonuses-card-title">
                                Накопленные бонусы
                            </h3>
                            <div class="profile__bonuses-card-amount">
                                12 134.43₽
                            </div>
                        </div>
                        <div class="profile__bonuses-remark">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#question"></use>
                            </svg>
                            Обналичить можно сумму от 20&nbsp;000 ₽
                        </div>
                        <div class="profile__bonuses-btns">
                            <a href="#bonus-modal" class="profile__bonuses-withdraw-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#withdraw-checkmark"></use>
                                </svg>
                                Обналичить баллы
                            </a>
                            <a href="#" class="profile__bonuses-history-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                История <span class="only-desktop">списания</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>