.auth {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  align-items: flex-start;
  overflow: hidden;
}

.auth__bg {
  grid-row: 1 / 2;
  grid-column-start: main-start;
  grid-column-end: main-end;
  margin-top: 17.2rem;

  @media (--mobile) {
    display: none;
  }
}

.auth__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;
  flex-direction: column;
  padding-top: 25.6rem;
  padding-bottom: 25.6rem;

  @media (--desktop) {
    grid-row: 1 / 2;
  }

  @media (--mobile) {
    padding: 9rem 0;
    padding-bottom: 0;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
  }
}

.auth__inner-wrapper {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    margin: 0 auto;
    max-width: 48.6rem;
    width: 100%;
  }

  @media (--mobile) {
    display: contents;
  }
}

.auth__back-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: flex-start;
  padding: 1rem 2.4rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 10rem;
  margin-bottom: 3.2rem;
  gap: 0.8rem;
  padding-left: 1.5rem;

  & svg {
    fill: currentColor;
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
  }
  &:link,
  &:visited {
    color: white;
  }

  @media (--mobile) {
    display: none;
  }
}

.auth__form-mobile-wrapper {
  display: contents;
  @media (--mobile) {
    display: block;
    border: 1px solid #cac4d0;
    border-radius: 2.4rem;
    margin: 0 1rem;
    margin-bottom: 4rem;
  }
}

.auth__card {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    border: 1px solid #cac4d0;
    background-color: #fff;
    border-radius: 2.4rem;
    padding: 4.8rem;
    padding-top: 3rem;
  }

  @media (--mobile) {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 22rem;
  }
}

.auth__card-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-bottom: 1px solid #b2b4b3;
  margin-bottom: 2.4rem;

  @media (--mobile) {
    margin-bottom: 0;
  }
}

.auth__card-link {
  display: block;
  text-align: center;
  padding: 1.5rem;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  transition: color 0.2s;

  &.active {
    color: var(--primary-color);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background-color: var(--primary-color);
    }
  }

  @media (--mobile) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.auth__form {
  @media (--mobile) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.auth__form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.auth__form-field {
  position: relative;
}

.auth__form-label {
  display: block;
  border-bottom: 1px solid #b2b4b3;
}

.auth__form-input {
  display: block;
  width: 100%;
  height: 5.6rem;
  padding: 0 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: black;

  &::placeholder {
    opacity: 0;
  }
}

.auth__form-input--phone {
  padding-left: 4.8rem;
  background-size: 4rem auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/phone.svg");
}

.auth__form-input--phone ~ .auth__form-label-text {
  left: 4.8rem;
}
.auth__form-input--email {
  padding-left: 4.8rem;
  background-size: 4rem auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/mail.svg");
}

.auth__form-input--email ~ .auth__form-label-text {
  left: 4.8rem;
}
.auth__form-input--password {
  padding-left: 4.8rem;
  background-size: 4rem auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/password.svg");
}

.auth__form-input--password ~ .auth__form-label-text {
  left: 4.8rem;
}

.auth__form-label-text {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  letter-spacing: 0.05rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: transform 0.2s;
  transform-origin: left center;
  pointer-events: none;
  color: var(--primary-color);
}

.auth__form-input[required] ~ .auth__form-label-text {
  &::after {
    content: "*";
  }
}

.auth__form-input:not(:placeholder-shown) ~ .auth__form-label-text,
.auth__form-input:focus ~ .auth__form-label-text {
  transform: scale(0.8) translateY(-3rem);
}

.auth__form-remember-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  align-self: flex-start;

  text-decoration: underline;
  transition: all 0.2s;
  color: var(--primary-color);
  display: block;
  &:link,
  &:visited {
    color: var(--primary-color);
  }

  @media (hover: hover) {
    &:hover {
      text-decoration-color: transparent;
    }
  }

  @media (--mobile) {
    margin-bottom: 0;
  }
}

.auth__form-submit-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  @media (--mobile) {
    padding: 1.6rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px -0.4rem 1.2rem rgba(215, 93, 32, 0.15);
    backdrop-filter: blur(2px);
    border-radius: 2.4rem 2.4rem 0px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 30;
  }
}

.auth__form-btn-layers {
  position: relative;
  @media (--mobile) {
    margin-top: auto;
  }
}
.auth__form-tabs {
  position: relative;
}

.auth__form-btn-layer,
.auth__form-tab {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    position: relative;
    z-index: 10;
  }

  @media (--mobile) {
    &.active {
      z-index: 40;
    }
  }
}

.auth__form-tab {
  z-index: 15;
  &.active {
    z-index: 20;
  }
}

.auth__form-mobile-wrapper-inner {
  display: block;
  margin-bottom: 3.5rem;

  @media (--mobile) {
    display: block;
    padding: 3rem 2rem;
    padding-top: 1.5rem;
    margin: 0;
  }
}

.auth__form-back {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  gap: 1rem;

  & svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    flex-shrink: 0;
  }

  @media (--mobile) {
    align-self: stretch;
    line-height: 1.2;
    padding: 2rem 4rem;
    font-size: 2.2rem;
  }
}

.auth__form-submit {
  display: block;
  text-align: center;
  padding: 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  background: radial-gradient(50% 386.77% at 50% 50%, #fab461 0%, #f76b1c 100%);
  border-radius: 2.4rem;
  color: white;

  flex-grow: 1;
  &:link,
  &:visited {
    color: white;
  }

  @media (--mobile) {
    align-self: stretch;
    line-height: 1.2;
    padding: 2rem 4rem;
    font-size: 2.2rem;
  }
}

.auth__form-show-password-btn {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  width: 4.8rem;
  height: 4.8rem;
  display: none;
}

.auth__form-show-password-btn-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & svg {
    width: 4rem;
    height: 4rem;
    fill: #1c1b1f;
  }

  &:nth-child(2) {
    display: none;
  }
}

.auth__form-input:not(:placeholder-shown) ~ .auth__form-show-password-btn {
  display: inline-grid;
}

.auth__form-show-password-btn.active {
  & .auth__form-show-password-btn-icon {
    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: flex;
    }
  }
}

.auth__form-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.6rem 0;
}

.auth__form-pagination-bullet {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: opacity 0.2s;
  opacity: 0.4;
}

.auth__form-pagination-bullet.active {
  opacity: 1;
}

.auth__form-select {
  position: relative;
  border-bottom: 1px solid #b2b4b3;
}

.auth__form-select-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.6rem;
  padding: 0 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: var(--primary-color);
  text-align: left;
  padding-right: 3.5rem;
  cursor: pointer;
  & svg {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    fill: var(--primary-color);
    transition: transform 0.2s;
  }
}

.auth__form-select-btn-text {
  width: 20%;
  flex-grow: 1;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.auth__form-select-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: auto;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  padding-top: 0.5rem;
}

.auth__form-select.active .auth__form-select-dropdown {
  opacity: 1;
  visibility: inherit;
  transition: opacity 0.4s, visibility 0.4s;
}

.auth__form-select-dropdown-inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #cac4d0;
  border-radius: 2.4rem;
  overflow-y: auto;
  max-height: 20rem;
  z-index: 50;
}

.auth__form-select-list {
  display: flex;
  flex-direction: column;
}

.auth__form-select-choice {
  display: block;
  cursor: pointer;
}

.auth__form-select-choice-input {
  display: none;
}

.auth__form-select-choice-text {
  display: block;
  padding: 1rem 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: black;
  transition: color 0.2s;
  padding-right: 3rem;
}

.auth__form-select-choice-input:checked ~ .auth__form-select-choice-text {
  color: var(--primary-color);
}

.auth__form-questionmark {
  position: absolute;
  right: 1.6rem;
  top: 1.8rem;

  width: 2rem;
  height: 2rem;
  background-image: url("../images/question.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;

  @media (--mobile) {
    right: 0;
  }
  &:hover {
    & .auth__form-questionmark-tooltip {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.auth__form-questionmark-tooltip {
  position: absolute;

  width: max-content;
  max-width: 25rem;
  /* left: 50%;
  transform: translateX(-50%); */

  z-index: 35;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  pointer-events: none;
  display: block;

  @media (--desktop) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    padding-bottom: 1.2rem;
  }

  @media (--mobile) {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 1rem;
  }
}

.auth__form-questionmark-tooltip-content {
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.2;
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.6rem;
  background: #ffffff;
  box-shadow: 0px 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;

  @media (--mobile) {
    padding: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

.auth__form-policy {
}

.auth__form-policy-checkbox {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.auth__form-policy-checkbox-input {
  display: none;
}

.auth__form-policy-checkbox-mark {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffc499;
  flex-shrink: 0;
  border-radius: 0.5rem;

  & svg {
    width: 0.9rem;
    height: 0.65rem;
    fill: #ff6b00;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.auth__form-policy-checkbox-input:checked ~ .auth__form-policy-checkbox-mark {
  & svg {
    opacity: 1;
  }
}

.auth__form-policy-checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;

  color: rgba(0, 0, 0, 0.5);

  & a {
    color: var(--primary-color);
    transition: all 0.2s;
    text-decoration: underline;
    &:link,
    &:visited {
      color: var(--primary-color);
    }

    @media (hover: hover) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}
