.profile {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);

  @media (--desktop) {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 13.6rem;
      height: 18.4rem;
      background-image: url("../images/intro-decor-right.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      content: "";
      left: 1rem;
      top: 1rem;
      width: 10.5rem;
      height: 15.7rem;
      background-image: url("../images/intro-decor-left.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
    }
  }

  @media (--mobile) {
    margin-bottom: 4rem;

    &::after {
      content: "";
      right: 1.6rem;
      top: 0;
      width: 10rem;
      height: 10rem;
      background-image: url("../images/intro-mobile-decor-right.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
    }
  }
}

.profile__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.profile__bg {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;

  @media (--mobile) {
    display: none;
  }
}

.profile__row {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  z-index: 30;
  display: flex;
  align-items: flex-start;
  gap: 4.8rem;
  padding-top: 17.7rem;
  @media (--mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 8.5rem;
    gap: 0;
  }
}

.profile__illustration {
  width: 87.7rem;
  margin-left: auto;
  margin-right: 5.4rem;
  margin-bottom: auto;
}

.profile__left-col {
  display: flex;
  flex-direction: column;
  width: 48rem;

  @media (--mobile) {
    width: 100%;
    display: contents;
  }
}

.profile__right-col {
  width: 48rem;

  @media (--mobile) {
    width: 100%;
    display: contents;
  }
}

.profile__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0.5rem;
  & em {
    font-style: normal;
    color: var(--primary-color);
  }

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 1.2rem;
    order: -20;
  }
}

.profile__status-row {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;

  @media (--mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    margin-bottom: 5rem;
    order: -15;
  }
}

.profile__id {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  color: #b2b4b3;

  @media (--mobile) {
    order: 10;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.profile__status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1.8rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #b2b4b3;
  border: 1px solid #b2b4b3;
  border-radius: 10rem;
  flex-shrink: 0;
}

.profile__form-group {
  margin-bottom: 5rem;
  &:last-child {
    margin-bottom: 0;
  }

  @media (--mobile) {
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

.profile__form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.profile__form-field {
  position: relative;
}

.profile__form-label {
  display: block;
  border-bottom: 1px solid #b2b4b3;
}

.profile__form-input {
  display: block;
  width: 100%;
  height: 5.6rem;
  padding: 0 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: black;

  &::placeholder {
    opacity: 0;
  }
}

.profile__form-input--phone {
  padding-left: 4.8rem;
  background-size: 4rem auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/phone.svg");
}

.profile__form-input--phone ~ .profile__form-label-text {
  left: 4.8rem;
}
.profile__form-input--email {
  padding-left: 4.8rem;
  background-size: 4rem auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/mail.svg");
}

.profile__form-input--email ~ .profile__form-label-text {
  left: 4.8rem;
}
.profile__form-input--password {
  padding-left: 4.8rem;
  background-size: 4rem auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/password.svg");
}

.profile__form-input--password ~ .profile__form-label-text {
  left: 4.8rem;
}

.profile__form-label-text {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  letter-spacing: 0.05rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: transform 0.2s;
  transform-origin: left center;
  pointer-events: none;
  color: var(--primary-color);
}

.profile__form-input[required] ~ .profile__form-label-text {
  &::after {
    content: "*";
  }
}

.profile__form-input:not(:placeholder-shown) ~ .profile__form-label-text,
.profile__form-input:focus ~ .profile__form-label-text {
  transform: scale(0.8) translateY(-3rem);
}

.profile__form-select {
  position: relative;
  border-bottom: 1px solid #b2b4b3;
  position: relative;
  z-index: 30;
}

.profile__form-select-placeholder {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  letter-spacing: 0.05rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: transform 0.2s;
  transform-origin: left center;
  pointer-events: none;
  color: var(--primary-color);
}

.choice-selected .profile__form-select-placeholder {
  transform: scale(0.8) translateY(-3rem);
}

.profile__form-select:has(.profile__form-select-placeholder) {
  & .profile__form-select-btn {
    color: var(--text-color);
  }
}

.profile__form-select:has(.profile__form-select-placeholder):not(
    .choice-selected
  ) {
  & .profile__form-select-btn-text {
    opacity: 0;
  }
}

.profile__form-select-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.6rem;
  padding: 0 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: var(--primary-color);
  text-align: left;

  cursor: pointer;
  & svg {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    fill: var(--primary-color);
    transition: transform 0.2s;
  }
}

.profile__form-select-btn-text {
  width: 20%;
  flex-grow: 1;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity 0.2s;
}

.profile__form-select-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: auto;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  padding-top: 0.5rem;
}

.profile__form-select.active .profile__form-select-dropdown {
  opacity: 1;
  visibility: inherit;
  transition: opacity 0.4s, visibility 0.4s;
}

.profile__form-select-dropdown-inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #cac4d0;
  border-radius: 2.4rem;
  overflow-y: auto;
  max-height: 20rem;
  z-index: 50;
}

.profile__form-select-list {
  display: flex;
  flex-direction: column;
}

.profile__form-select-choice {
  display: block;
  cursor: pointer;
}

.profile__form-select-choice-input {
  display: none;
}

.profile__form-select-choice-text {
  display: block;
  padding: 1rem 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: black;
  transition: color 0.2s;
  padding-right: 3rem;
}

.profile__form-select-choice-input:checked ~ .profile__form-select-choice-text {
  color: var(--primary-color);
}

.profile__form-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__form-checkbox {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.profile__form-checkbox-input {
  display: none;
}

.profile__form-checkbox-mark {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffc499;
  flex-shrink: 0;
  border-radius: 0.5rem;

  & svg {
    width: 0.9rem;
    height: 0.65rem;
    fill: #ff6b00;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.profile__form-checkbox-input:checked ~ .profile__form-checkbox-mark {
  & svg {
    opacity: 1;
  }
}

.profile__form-checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;

  color: rgba(0, 0, 0, 0.5);

  & a {
    color: var(--primary-color);
    transition: all 0.2s;
    text-decoration: underline;
    &:link,
    &:visited {
      color: var(--primary-color);
    }

    @media (hover: hover) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.profile__form-group-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--primary-color);
  margin-bottom: 2.4rem;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
}

.profile__form-group-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.8rem;
  padding: 1.2rem 2.4rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.8rem;
  margin-bottom: 3.2rem;

  &:last-child {
    margin-bottom: 0;
  }
  & svg {
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
  }
  &:link,
  &:visited {
    color: white;
  }
}

.profile__form-addresses {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.profile__form-address-block {
  border: 1px solid rgba(255, 107, 0, 0.5);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 4.8rem;

  @media (--mobile) {
    padding: 2.4rem;
  }
}

.profile__form-file {
  display: block;
  position: relative;
  border-bottom: 1px solid #b2b4b3;
}

.profile__form-file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.profile__form-file-upload-content {
  display: block;
  position: relative;
}

.profile__form-file-name {
  display: block;
  width: 100%;
  height: 5.6rem;

  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: black;

  background-size: 4rem auto;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("../images/file.svg");
  display: flex;
  align-items: center;
}

.profile__form-file-name-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 0 1.6rem;
  padding-right: 4.8rem;
}

.profile__form-file-upload-placeholder {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  letter-spacing: 0.05rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: transform 0.2s;
  transform-origin: left center;
  pointer-events: none;
  color: var(--primary-color);
}

.file-loaded .profile__form-file-upload-placeholder {
  transform: scale(0.8) translateY(-3rem);
}

.profile__form-submit-wrapper {
  @media (--mobile) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 120;
    padding: 1.6rem 2rem;
    box-shadow: 0px -0.4rem 1.2rem rgba(215, 93, 32, 0.15);
    background-color: #fff;
    border-radius: 2.4rem 2.4rem 0px 0px;
  }
}

.profile__form-submit {
  padding: 2.4rem 5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  display: block;
  text-align: center;
  background: radial-gradient(50% 386.77% at 50% 50%, #fab461 0%, #f76b1c 100%);
  border-radius: 2.4rem;
  color: white;
  width: 100%;
}

.profile__bonuses {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  gap: 1.6rem;
  margin-top: 9rem;
  @media (--mobile) {
    order: -9;
    margin-bottom: 2.4rem;
    margin-top: 0;
  }
}

@media (--desktop) {
  .profile__bonuses--no-margin {
    margin-top: 0;
  }
}

.profile__bonuses-coins {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 42rem;
  height: auto;
  right: -17rem;
  top: -10rem;

  @media (--mobile) {
    width: 20.9rem;
    right: -2rem;
    top: -7.2rem;
  }
}

.profile__bonuses-coins-2 {
  @media (--desktop) {
    width: 32rem;
    top: -9rem;
    right: -5rem;
  }
}

.profile__bonuses-card {
  background: linear-gradient(
    71.02deg,
    rgba(255, 110, 0, 1) 0%,
    rgba(255, 110, 0, 0.5) 100%
  );
  backdrop-filter: blur(12px);
  border-radius: 2.4rem;
  color: white;
  padding: 4rem 3.2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
  z-index: 40;
  &::after {
    content: "";
    width: 10rem;
    height: 11.8rem;
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/profile-motor.svg");
  }

  @media (--mobile) {
    padding: 2.4rem;

    &::after {
      width: 5rem;
      height: 5.9rem;
      right: 2rem;
      bottom: 2rem;
    }
  }
}

.profile__bonuses-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;

  @media (--mobile) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.profile__bonuses-card-amount {
  font-style: normal;
  font-weight: 700;
  font-size: 5.7rem;
  line-height: 6.4rem;

  @media (--mobile) {
    font-size: 4.5rem;
    line-height: 1.2;
  }
}

.profile__bonuses-remark {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 3.2rem 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  border: 1px solid rgba(255, 107, 0, 0.5);
  border-radius: 2.4rem;
  color: #1c1b1f;
  background: rgba(255, 107, 0, 0.02);
  backdrop-filter: blur(8px);

  @media (--mobile) {
    padding: 2rem 2.4rem;
  }
  & svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: #b2b4b3;
  }
}

.profile__bonuses-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.profile__bonuses-withdraw-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.8rem;
  padding: 1.1rem 1.6rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: white;
  border-radius: 0.8rem;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:link,
  &:visited {
    color: white;
  }
  & svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
  }

  @media (--mobile) {
    flex-grow: 1;
  }
}

.profile__bonuses-withdraw-link--disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.profile__bonuses-history-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.8rem;
  padding: 1.1rem 1.6rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: var(--primary-color);
  border-radius: 0.8rem;
  background: white;

  border: 1px solid #ff6e00;

  &:link,
  &:visited {
    color: var(--primary-color);
  }
  & svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
  }

  @media (--mobile) {
    flex-grow: 1;
  }
}

.profile__certificates {
  display: flex;
  flex-direction: column;
  padding-bottom: 23rem;

  @media (--mobile) {
    padding-bottom: 3rem;
    padding-top: 1.5rem;
  }
}

.profile__certificates-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 3.2rem;

  @media (--mobile) {
    display: none;
  }
}

.profile__certificates-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
  & p {
    margin-bottom: 1.6rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.profile__certificates-form {
  margin-bottom: 1.6rem;
}

.profile__certificates-remark {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: #b2b4b3;
  margin-bottom: 3.2rem;
}

.profile__certificates-results-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.profile__certificates-results-card {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profile__certificates-results-card-image-container {
  flex-shrink: 0;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile__certificates-results-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__certificates-results-card-content {
  width: 20%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profile__certificates-results-card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

.profile__certificates-results-card-link {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: var(--primary-color);

  &:link,
  &:visited {
    color: var(--primary-color);
  }

  & svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
    flex-shrink: 0;
  }
}

.profile__stats {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 30;
  display: flex;
  flex-direction: column;
  padding-top: 17.7rem;
  @media (--mobile) {
    padding-top: 8.5rem;
  }
}

.profile__stats-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 3rem;
  align-items: flex-start;
  margin-top: 1.5rem;

  @media (--mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2rem;
  }
}

.profile__stats-col {
  display: flex;
  flex-direction: column;

  @media (--mobile) {
    display: contents;
  }
}

.profile__stats-bonuses {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 107, 0, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 2.4rem;
  padding: 3.2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (--mobile) {
    padding: 2rem;
    padding-bottom: 0;
    order: 20;
  }
}

.profile__stats-bonuses-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 1.2rem;

  @media (--mobile) {
    font-size: 2rem;
    line-height: 1;
  }
}

.profile__stats-bonuses-rate {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #ff6e00;
  margin-bottom: 2.4rem;

  @media (--mobile) {
    font-size: 2rem;
    line-height: 1;
  }
}

.profile__stats-bonuses-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.profile__stats-bonuses-card {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profile__stats-bonuses-card-image-container {
  width: 3.2rem;
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.profile__stats-bonuses-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__stats-bonuses-card-title {
  width: 30%;
  flex-grow: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

.profile__stats-bonuses-card-amount {
  flex-shrink: 0;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: right;
}

.profile__stats-bonuses-increase {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile__stats-bonuses-increase-text {
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #b2b4b3;
  @media (--mobile) {
    font-size: 2rem;
    line-height: 1;
  }
}

.profile__stats-bonuses-increase-bottom-row {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.profile__stats-bonuses-increase-rate {
  width: 14.6rem;
  height: 14.6rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  flex-shrink: 0;
  margin-bottom: -5rem;
  background-image: url("../images/star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 1rem rgba(255, 110, 0, 0.6));
}

.profile__stats-bonuses-increase-required {
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #b2b4b3;
  text-align: right;

  @media (--mobile) {
    text-align: left;
    order: -10;
    font-size: 3rem;
    line-height: 1.2;
  }
}

.profile__stats-buy {
  background: rgba(255, 107, 0, 0.02);
  border: 1px solid rgba(255, 107, 0, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
}
.profile__stats-buy-top {
  padding: 3.2rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-bottom: 1px solid rgba(255, 107, 0, 0.5);

  @media (--mobile) {
    padding: 2rem;
  }
}

.profile__stats-buy-top-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.profile__stats-buy-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;

  @media (--mobile) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.profile__stats-buy-picker {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  & svg {
    fill: var(--primary-color);
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
    transition: transform 0.2s;
  }
}

.profile__stats-buy-input {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--primary-color);
  text-align: right;
  @media (--mobile) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.profile__stats-buy-select {
  position: relative;
  z-index: 50;
}

.profile__stats-buy-select-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--primary-color);

  @media (--mobile) {
    font-size: 2rem;
    line-height: 1.2;
  }

  & svg {
    fill: currentColor;
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
    transition: transform 0.2s;
  }
}

.profile__stats-buy-select.active .profile__stats-buy-select-btn svg {
  transform: rotate(180deg);
}

.profile__stats-buy-select-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  padding-top: 0.5rem;
  width: max-content;
  max-width: 20rem;
}

.profile__stats-buy-select-dropdown-inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #cac4d0;
  border-radius: 2.4rem;
  overflow-y: auto;
  max-height: 20rem;
  z-index: 50;
}

.profile__stats-buy-select.active .profile__stats-buy-select-dropdown {
  opacity: 1;
  visibility: inherit;
  transition: opacity 0.4s, visibility 0.4s;
}

.profile__stats-buy-select-list {
  display: flex;
  flex-direction: column;
}

.profile__stats-buy-select-choice {
  display: block;
  cursor: pointer;
}

.profile__stats-buy-select-choice-input {
  display: none;
}

.profile__stats-buy-select-choice-text {
  display: block;
  padding: 1rem 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: black;
  transition: color 0.2s;
  padding-right: 3rem;
}

.profile__stats-buy-select-choice-input:checked
  ~ .profile__stats-buy-select-choice-text {
  color: var(--primary-color);
}

.profile__stats-buy-bottom-row {
  display: grid;
  grid-template-columns: minmax(0, 2.5fr) minmax(0, 1fr);

  @media (--mobile) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}

.profile__stats-buy-goal {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.profile__stats-buy-goal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  color: #b2b4b3;
}

.profile__stats-buy-goal-progress {
  background: rgba(255, 110, 0, 0.2);
  border-radius: 1.2rem;
  height: 0.8rem;
  position: relative;

  @media (--mobile) {
    height: 0.6rem;
  }
}

.profile__stats-buy-goal-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 1.2rem;
  background-color: var(--primary-color);
  transform-origin: left center;
  width: calc(100% * var(--progress, 1));
  z-index: 30;
  height: 100%;
  position: relative;
}

.profile__stats-buy-goal-progress-bar-percentage {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  margin-left: 0.8rem;
}

.profile__stats-buy-total {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.profile__stats-buy-total-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: right;
  letter-spacing: 0.015rem;
  color: #b2b4b3;
}

.profile__stats-buy-total-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: right;
  letter-spacing: 0.05rem;
}

.profile__stats-buy-bottom {
  padding: 2.4rem 3.5rem;

  @media (--mobile) {
    padding: 2rem;
  }
}

.profile__stats-buy-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.profile__stats-buy-card {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profile__stats-buy-card-image-container {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile__stats-buy-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__stats-buy-card-content {
  width: 40%;
  flex-grow: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

.profile__stats-buy-card-price {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: right;
  letter-spacing: 0.05rem;
  flex-shrink: 0;
  white-space: nowrap;
}

.profile__statistics-row {
  gap: 3rem;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  display: grid;
  @media (--mobile) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.profile__statistics-col {
  display: flex;
  flex-direction: column;

  @media (--mobile) {
    display: contents;
  }
}

.profile__statistics-buy {
  background: rgba(255, 107, 0, 0.02);
  border: 1px solid rgba(255, 107, 0, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
}

.profile__statistics-buy-top {
  padding: 3.5rem;
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-bottom: 1px solid rgba(255, 107, 0, 0.5);

  @media (--mobile) {
    padding: 2rem;
    gap: 1rem;
  }
}

.profile__statistics-buy-top-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.profile__statistics-buy-row {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

  @media (--mobile) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4.5rem;
    row-gap: 1.2rem;
  }
}

.profile__statistics-period {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  @media (--mobile) {
    display: none;
  }
}

.profile__statistics-period-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  color: #b2b4b3;
}

.profile__statistics-period-choose {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;

  & svg {
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
  }
}

.profile__statistics-choose-period {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-end;

  @media (--mobile) {
    display: contents;
  }
}

.profile__statistics-choose-period-select {
  position: relative;

  @media (--mobile) {
    width: 100%;
  }
}

.profile__statistics-choose-period-picker {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  & svg {
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-color);
    transition: transform 0.2s;
  }

  @media (--mobile) {
    & svg {
      order: -10;
    }
  }
}

.profile__statistics-choose-period-picker-input {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--primary-color);
  text-align: right;
  letter-spacing: 0.05rem;
  width: 20%;
  flex-grow: 1;

  @media (--mobile) {
    text-align: left;
  }
}

.profile__statistics-choose-period-select-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--primary-color);
  text-align: right;
  letter-spacing: 0.05rem;
  gap: 0.4rem;
  width: auto;
  margin: 0;
  & svg {
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
    transition: transform 0.2s;
  }
}

.profile__statistics-choose-period-select-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  padding-top: 0.5rem;
  width: max-content;
  max-width: 20rem;
}

.profile__statistics-choose-period-select-dropdown-inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #cac4d0;
  border-radius: 2.4rem;
  overflow-y: auto;
  max-height: 20rem;
  z-index: 50;
}

.profile__statistics-choose-period-select.active
  .profile__statistics-choose-period-select-dropdown {
  opacity: 1;
  visibility: inherit;
  transition: opacity 0.4s, visibility 0.4s;
}

.profile__statistics-choose-period-select-list {
  display: flex;
  flex-direction: column;
}

.profile__statistics-choose-period-select-choice {
  display: block;
  cursor: pointer;
}

.profile__statistics-choose-period-select-choice-input {
  display: none;
}

.profile__statistics-choose-period-select-choice-text {
  display: block;
  padding: 1rem 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: black;
  transition: color 0.2s;
  padding-right: 3rem;
}

.profile__statistics-choose-period-select-choice-input:checked
  ~ .profile__statistics-choose-period-select-choice-text {
  color: var(--primary-color);
}

.profile__statistics-choose-period-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: right;
  letter-spacing: 0.05rem;

  @media (--mobile) {
    &::before {
      content: "За период";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.015rem;
      color: #b2b4b3;
      display: block;
      margin-bottom: 0.4rem;
    }
  }
}

.profile__statistics-total {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.4rem;
}

.profile__statistics-total-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  color: #b2b4b3;
}

.profile__statistics-total-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

.profile__statistics-buy-bottom {
  padding: 3.5rem;
  padding-top: 2.4rem;
  padding-bottom: 3.2rem;

  @media (--mobile) {
    padding: 2rem;
  }
}

.profile__statistics-buy-items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.profile__statistics-buy-card {
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;

  @media (--mobile) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
  }
}

.profile__statistics-buy-card-name {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  @media (--mobile) {
    gap: 0.8rem;
  }
}

.profile__statistics-buy-card-image-container {
  position: relative;
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile__statistics-buy-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__statistics-buy-card-name-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

.profile__statistics-buy-card-period {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: right;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  @media (--mobile) {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

.profile__statistics-buy-card-total {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: right;
  letter-spacing: 0.05rem;

  white-space: nowrap;

  @media (--mobile) {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

.profile__bonuses-card-total-period {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.profile__bonuses-card-total-period-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

.profile__bonuses-card-total-period-select {
  position: relative;
}

.profile__bonuses-card-total-period-select-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  & svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
    flex-shrink: 0;
    transition: transform 0.2s;
    margin-top: 0.25rem;
  }
}

.profile__bonuses-card-total-period-select-dropdown {
  width: max-content;
  max-width: 25rem;
  right: 0;
  left: auto;
}

.profile__bonuses-card-total-period-select.active
  .profile__bonuses-card-total-period-select-dropdown {
  opacity: 1;
  visibility: inherit;
  transition: opacity 0.4s, visibility 0.4s;
}

.profile__bonuses-card-total-amount {
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  margin-top: 0.8rem;
  @media (--mobile) {
    font-size: 3.2rem;
    line-height: 1.2;
    margin-top: 0.4rem;
  }
}

.profile__statistics-bottom {
  margin-top: 3.2rem;
}

.profile__statistics-filters {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding-left: 3.5rem;

  @media (--mobile) {
    padding-left: 0;
    flex-wrap: wrap;
  }
}

.profile__statistics-modal-link {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
  @media (--mobile) {
    margin-right: 0;
  }
  & svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.profile__statistics-filters-selected-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
  display: contents;
}

.profile__statistics-filters-selected-list-item {
  flex-shrink: 0;
}

.profile__statistics-filters-selected-item {
  display: inline-flex;
  align-items: center;
  background: #ff6e00;
  border-radius: 0.4rem;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0.2rem;
  &:link,
  &:visited {
    color: white;
  }
}

.profile__statistics-filters-selected-item-text {
  padding-right: 0.8rem;
  padding-left: 1.4rem;
}

.profile__statistics-filters-selected-item-icon {
  width: 2.8rem;
  height: 2.8rem;
  flex-shrink: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffb277;
  border-radius: 0.4rem;
  & svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: white;
  }
}

.profile__statistics-results {
  margin-top: 3.2rem;
  padding-bottom: 12rem;

  @media (--mobile) {
    padding-bottom: 1rem;
  }
}

.profile__statistics-results-table-wrapper {
  /* overflow-x: hidden; */
}

.profile__statistics-results-table-slider {
  & .swiper {
    overflow: visible;
    margin: 0;
  }

  & .swiper-slide {
    width: max-content;
  }

  @media (--mobile) {
    display: none;
  }
}

.profile__statistics-results-table {
  & table {
    width: auto;
    border-collapse: collapse;
    user-select: none;
    cursor: grab;
    & thead {
      & th {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #000000;
        letter-spacing: 0.05rem;
        padding: 0.8rem 1.6rem;

        background-color: #eeeeee;
        border-bottom: 1px solid #b2b4b3;
        white-space: nowrap;
        vertical-align: middle;
        text-align: left;
      }

      & tr {
        &:nth-child(1) {
          & th {
            &:first-child {
              border-top-left-radius: 2.4rem;
            }
            &:nth-child(6) {
              border-left: 1px solid #b2b4b3;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0.5rem;
                background: linear-gradient(
                  90deg,
                  #b2b4b3 0%,
                  rgba(178, 180, 179, 0) 100%
                );
                opacity: 0.2;
              }
            }
            &:nth-child(7) {
              border-left: 1px solid #b2b4b3;
            }

            &:nth-child(-n + 5) {
              background: #f7f7f7;
            }
          }
        }

        &:nth-child(2) {
          & th {
            &:nth-child(1) {
              border-left: 1px solid #b2b4b3;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0.5rem;
                background: linear-gradient(
                  90deg,
                  #b2b4b3 0%,
                  rgba(178, 180, 179, 0) 100%
                );
                opacity: 0.2;
              }
            }

            &:nth-child(3) {
              border-left: 1px solid #b2b4b3;
            }
          }
        }
      }
    }

    & tbody {
      & td {
        padding: 1.6rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        vertical-align: top;
        text-align: left;
        letter-spacing: 0.05rem;
        border-bottom: 1px solid #b2b4b3;
        white-space: nowrap;

        &:nth-child(6) {
          border-left: 1px solid #b2b4b3;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0.5rem;
            background: linear-gradient(
              90deg,
              #b2b4b3 0%,
              rgba(178, 180, 179, 0) 100%
            );
            opacity: 0.2;
          }
        }

        &:nth-child(8) {
          border-left: 1px solid #b2b4b3;
        }
      }
    }

    & tfoot {
      & th {
        background: #f7f7f7;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #000000;
        letter-spacing: 0.05rem;
        padding: 2.4rem 1.6rem;
        background: #f7f7f7;
        vertical-align: top;
        text-align: left;
        white-space: nowrap;

        &:nth-child(6) {
          border-left: 1px solid #b2b4b3;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0.5rem;
            background: linear-gradient(
              90deg,
              #b2b4b3 0%,
              rgba(178, 180, 179, 0) 100%
            );
            opacity: 0.2;
          }
        }

        &:nth-child(8) {
          border-left: 1px solid #b2b4b3;
        }

        &:first-child {
          border-bottom-left-radius: 2.4rem;
        }
      }
    }
  }
}

.profile__statistics-results-mobile {
  @media (--desktop) {
    display: none;
  }

  @media (--mobile) {
    display: block;
  }
}

.profile__statistics-results-legend {
  padding: 1.4rem;
  padding-left: 4.8rem;
  padding-right: 3rem;
  background: #f7f7f7;
  border-bottom: 1px solid #b2b4b3;
  display: flex;
  flex-direction: column;
}

.profile__statistics-results-legend-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

.profile__statistics-results-legend-brand {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.6);
}

.profile__statistics-results-mobile-list {
  display: flex;
  flex-direction: column;
}

.profile__statistics-results-mobile-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b2b4b3;
}

.profile__statistics-results-mobile-card-btn {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1.6rem 0;
}

.profile__statistics-results-mobile-card-btn-icon {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
  margin-left: 1.6rem;
  & svg {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    fill: var(--primary-color);
    transform: scale(1.5);
  }
}

.js-accordion.active .profile__statistics-results-mobile-card-btn-icon {
  & svg {
    transform: scale(1.5) rotate(180deg);
  }
}

.profile__statistics-results-mobile-card-btn-content {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile__statistics-results-mobile-card-btn-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

.profile__statistics-results-mobile-card-btn-brand {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.6);
}

.profile__statistics-results-mobile-card-content {
  height: 0;
  overflow: hidden;
}

.profile__statistics-results-mobile-card-content-inner {
  padding-left: 4.8rem;
  padding-bottom: 1.6rem;
}

.profile__statistics-results-mobile-card-info-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 1.6rem;
  align-items: flex-start;
  margin-bottom: 1.6rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile__statistics-results-mobile-card-info-list-item {
  &:nth-child(3) {
    grid-column: 1 / -1;
  }
}

.profile__statistics-results-mobile-card-info-card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.profile__statistics-results-mobile-card-info-card-key {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  color: #b2b4b3;
}

.profile__statistics-results-mobile-card-info-card-value {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

.profile__statistics-results-mobile-card-last-year {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.profile__statistics-results-mobile-card-last-year-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  color: #b2b4b3;
}

.profile__statistics-results-mobile-card-last-year-items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
  row-gap: 2rem;
}

.profile__statistics-results-mobile-card-last-year-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profile__statistics-results-mobile-card-last-year-item-key {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  color: #b2b4b3;
}

.profile__statistics-results-mobile-card-last-year-item-value {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

.profile__statistics-results-mobile-card-table-wrapper {
  overflow-x: auto;
  padding-bottom: 1.2rem;
  -webkit-overflow-scrolling: touch;

  scrollbar-color: #b2b4b3 #f6f6f6;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    background: #f6f6f6;
    height: 0.8rem;
    border-radius: 2rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #b2b4b3;
    border-radius: 2rem;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2rem;
  }
}

.profile__statistics-results-mobile-card-table {
  & table {
    border-collapse: collapse;
    width: auto;

    & th {
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.05rem;
      padding: 0.8rem 1.6rem;
      text-align: left;
      vertical-align: top;
      border-bottom: 1px solid #b2b4b3;
      white-space: nowrap;
      background: #eeeeee;
    }

    & td {
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.05rem;
      padding: 1.6rem;
      border-bottom: 1px solid #b2b4b3;
      white-space: nowrap;
    }
  }
}
