.validation-error {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #ff2e00;
  letter-spacing: 0.04rem;
  padding: 0 1.6rem;
  margin-top: 0.4rem;
}

.only-desktop {
  @media (--mobile) {
    display: none;
  }
}

.only-mobile {
  @media (--desktop) {
    display: none !important;
  }
}
